:root {
    font-family: 'IBM Plex Mono';
    font-size: small;
    font-style: italic;
    background-color: #f0f8e2;
}

body,
html {
    margin: 0;
    padding: 0;
}

::selection {
    color: darkgreen;
    background: greenyellow;
}

/* Primary Grid */
body {
    display: grid;
    grid-template-columns: minmax(min-content, 50%) 1fr;
    overflow: hidden;
    height: 100vh;
}

/* Side Nav */
header {
    padding: 0 1em 2em 1em;
}

main {
    overflow-y: scroll;
}


section {
    padding: 1.5em;
}

figure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    align-content: start;
}

img {
    width: 100%;
}

/* Switch to single column */
@media (max-width: 788px) {

    body,
    main {
        grid-template-columns: 1fr;
    }

    header {
        border-right: 0;
        border-bottom: 1px solid var(--primary-color);
    }

    nav {
        position: inherit;
    }

    /* Single column image gallery */
    figure {
        grid-template-columns: 1fr;
    }
}